<!-- Component Selector -->

<!-- Project Name -->
<!-- <onePage-projectName></onePage-projectName> -->

<!-- Bütün Sayfalarda Sabit kalacak: Static -->
<!-- start Navbar -->
<onePage-navbar></onePage-navbar>
<!-- end Navbar -->

<!-- Bütün Sayfalarda Sabit kalacak: Static -->
<!-- start Header -->
<onePage-header></onePage-header>
<!-- end Header -->

<!-- Bütün Sayfalarda Değişken olacaktır kalacak: Dynamics -->
<!-- start Dynamics Router-->
<router-outlet></router-outlet>
<!-- end Dynamics Router-->

<!-- Bütün Sayfalarda Sabit kalacak: Static -->
<!-- start Footer -->
<onePage-footer></onePage-footer>
<!-- end Footer -->
