<!-- Component Selector -->

<!-- Project Name -->
<!-- <onePage-projectName></onePage-projectName> -->

<div data-bs-spy="scroll" data-bs-target="#navbar_id">
  <!-- start Navbar -->
  <onePage-navbar></onePage-navbar>
  <!-- end Navbar -->

  <!-- start Header -->
  <onePage-header></onePage-header>
  <!-- end Header -->
</div>

<!-- start Main -->
<onePage-main></onePage-main>
<!-- end Main -->

<!-- start Footer -->
<onePage-footer></onePage-footer>
<!-- end Footer -->

<!-- Router -->
<router-outlet></router-outlet>
